PRIVATE_KEY=
JUPITER_API_URL=https://lite-api.jup.ag
JUPITER_API_KEY=
BASE_MINT=So11111111111111111111111111111111111111112
QUOTE_MINT=EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v
TRADE_AMOUNT_LAMPORTS=10000000
POLL_INTERVAL_MS=30000
MODE=paper
PAPER_INITIAL_SOL=10
PAPER_INITIAL_USDC=1000
API_PORT=3456
